@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage <i502Club.Modules.WebConfigEncryptor.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<p>There are no settings for this module</p>
